GOOGLE_KEY: '123456789012.apps.googleusercontent.com'
GOOGLE_SECRET: 'a1a1a1a1a1a1a1a1a1a1a1a1'
COOKIE_SIGNING_SECRET: '12345abcdef'
USERS:
 - first_name: Daniel
   last_name: Stutzman
   email: dtstutz@gmail.com
   google_plus_uid: '112826277336975923063'
