GOOGLE_KEY: '123456789012.apps.googleusercontent.com'
GOOGLE_SECRET: 'a1a1a1a1a1a1a1a1a1a1a1a1'
COOKIE_SIGNING_SECRET: '12345abcdef'
AIRBRAKE_API_KEY: '0123456789abcdef0123456789abcdef'
DATABASE_PARAMS:
  development:
    adapter: sqlite3
    database: database.sqlite3
  production:
    host:     localhost
    adapter:  postgresql
    username: student_checklist
    password: whatever
    database: student_checklist
    encoding: unicode
