:javascript
  reformal_wdg_domain    = "onlinerubytutor";
  reformal_wdg_mode    = 0;
  reformal_wdg_title   = "Online Ruby Tutor";
  reformal_wdg_ltitle  = "Leave feedback";
  reformal_wdg_lfont   = "";
  reformal_wdg_lsize   = "";
  reformal_wdg_color   = "#FFA000";
  reformal_wdg_bcolor  = "#516683";
  reformal_wdg_tcolor  = "#FFFFFF";
  reformal_wdg_align   = "left";
  reformal_wdg_waction = 1;
  reformal_wdg_vcolor  = "#9FCE54";
  reformal_wdg_cmline  = "#E0E0E0";
  reformal_wdg_glcolor  = "#105895";
  reformal_wdg_tbcolor  = "#FFFFFF";
  reformal_wdg_bimage = "8489db229aa0a66ab6b80ebbe0bb26cd.png";
%script(type="text/javascript" language="JavaScript"
  src="http://idea.informer.com/tab6.js?domain=onlinerubytutor")
