!!!html
%html
  %head
    %title Login
  %body
    %div(style='border:3px gray solid;margin:100px auto 10px auto;width:290px;text-align:center;font-family:sans-serif')
      %h1 Login
      %p
        To access student exercises,
        %br
        please log in to Google+.
      %p
        %a(href='/auth/google_oauth2')
          %img(src='/images/google-plus-sign-in.png')
      - if @auth_failure_message
        %p(style='color:red')
          = @auth_failure_message
