%h1 Online Ruby Tutor
%p
  %i A free educational tool to visualize execution traces of user-supplied Ruby programs

%h2 1. Trace some examples
%ul
  %li here
  %li here

%h2 2. Trace your own program

%h2 3. Learn to program by solving puzzles
%p
  %i
    D means a demonstration: click through the cases to make sure you understand.
    %br
    C means a challenge: you need to fix the code to make the tests pass.
%ul
  - @exercises.each do |exercise|
    %li
      %a{ href: "/exercise/#{exercise.task_id}" }
        = exercise.task_id
        != truncate(YAML.load(exercise.yaml)['description'], 60).gsub(/`(.*?)`/, "<code>\\1</code>")
