div.ExecutionVisualizer table#pyCodeOutput {
  margin: 0 0;
}
table {
  border-collapse: collapse;
  margin: 20px 0;
}
th, td {
  padding: 0px 5px;
}
body {
  font-family: sans-serif;
}
tr.headers th {
  background-color: gray;
  color: white;
  border-top: 1px black solid;
  border-right: 1px black solid;
}
#traces-table {
  cursor: pointer;
}
#traces-table tr.selectedRow {
  background-color: #00d;
  color: white;
  font-weight: bold;
}
.failed {
   color:red;
   display:inline-block;
   width:60px
}
.passed {
   color:green;
   display:inline-block;
   width:60px
}
pre {
   margin: 0;
   padding: 0;
}
.stringObj {
  background-color: #ddd;
}
#traces-table tr.headers th.action-buttons {
  background-color: transparent;
  color: black;
  font-weight: normal;
  border: none;
}
#traces-table td {
  vertical-align: top;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  padding: 5px 8px;
}
#user_code_div {
  border: 1px #ccc solid;
}
.CodeMirror {
  font-family: "Andale mono", monospace;
}
button.selected {
  border: 2px blue solid;
}
