@import pytutor
@import codemirror
@import ui-lightness
@import ruby-composer
@import sidebar
@import edit-content
@import case-content

body
  font-family: sans-serif
  margin: 0

.failed
  color: red
  display: inline-block
  width: 60px

.passed
  color: green
  display: inline-block
  width: 60px
